#%RAML 1.0
---
title: header
baseUri: http://nidi.guru/raml/{version}
version: v1
mediaType: application/default
schemas:
  String:
    schema: !include string.json

/data:
  get:
    responses:
      200:
        body:
          application/json:
            schema: |
              {"type":"string"}
/header:
  get:
    headers:
      string-array:
        type: string[]
        required: false
      int-array:
        type: integer[]
        required: false
      array-of-string:
        type: array
        items: string
        required: false
      array-of-int:
        type: array
        items: integer
        required: false
      array:
        type: array
        required: false
      req:
      x-{?}:
        required: false
    responses:
      200:
        body:
          application/json:
            schema: |
              {"type":"string"}
  /reqwild:
    get:
      headers:
        x-{?}:
      responses:
        200:
  /xint:
    get:
      headers:
        x-Int:
          required: false
          type: integer
      responses:
        200:
          headers:
            x-Int:
              required: false
              type: integer
/resheader:
  get:
    responses:
      200:
        headers:
          rep:
            type: string[]
            required: false
          req:
          x-{?}:
            required: false
        body:
          application/json:
            schema: |
              {"type":"string"}
  /reqwild:
    get:
      responses:
        200:
          headers:
            x-{?}:
              required: true
